@value offWhiteColor, blueColor, greenColor, orangeColor, almostBlackColor, mostAlmostBlackColor from '../styles/colors.css';

:root {
  font-size: 16px;
}

body {
  background-color: offWhiteColor;
}

.HeaderGroup {}

.Heading{
  color: almostBlackColor;
  font-size: 2rem;
}
.SubHeading {
  font-size: 1rem;
  color: mostAlmostBlackColor;
}
.Content {
  color: almostBlackColor;
}

.Link,
.Link:visited {
  color: almostBlackColor;
  margin: .25rem;
}

.Wrapper {
  padding: 0 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 256px;
  width: 50%;
}

.Footer {
  text-align: center;
}
